In [3]:
import pandas as pd


DATA_SOURCE_PATH = 'mock.csv'

df = pd.read_csv(DATA_SOURCE_PATH)
df.head()

   download  upload                        date
0     12.47    6.47  2022-07-06 17:55:44.743254
1     13.34    6.81  2022-07-06 17:58:45.046146
2     15.91    7.22  2022-07-06 17:59:48.943157
3     14.10    7.18  2022-07-06 18:00:49.385292
4     11.95    6.25  2022-07-06 18:01:44.345845

In [10]:
df.describe()

          download       upload
count  8565.000000  8565.000000
mean     23.940957     6.815101
std      70.160011     0.802993
min       1.000000     1.380000
25%      11.690000     6.770000
50%      17.000000     7.120000
75%      22.020000     7.260000
max    1014.820000    12.190000

In [11]:
# filter data bigger than 100

# Considering the overall average of the download speed, it's extremely unlikely that a user will have a download speed bigger than 100 MB/s.
outliers = df[df['download'] > 100]

print(f'There are {len(outliers)} outliers')

# remove outliers from df
clean_df =


df[df['download'] > 100].sort_values(by='download')

      download  upload                        date
7977    117.20    3.02  2022-07-12 11:41:20.085307
993     136.35    5.19  2022-07-07 10:50:07.820985
2269    142.09    6.88  2022-07-08 09:48:03.817967
1000    144.20    7.30  2022-07-07 10:57:14.633425
1006    156.19    7.00  2022-07-07 11:03:14.656614
...        ...     ...                         ...
7872    968.66    6.59  2022-07-12 09:56:09.712071
6557    976.82    6.43  2022-07-11 11:14:05.473350
7857    986.56    4.90  2022-07-12 09:41:08.541055
7937   1001.42    6.50  2022-07-12 11:01:14.331615
2295   1014.82    6.95  2022-07-08 10:14:01.479883

[114 rows x 3 columns]

media de cada horario do dia (lineplot?)
ontem
overall average
overall graph